.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-link {
  margin-left: 2px;
  color: #36536b;
  opacity: 70%;
  text-decoration: none;
  font-weight: bold;
}
h1 {
  font-size: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 48px;
  }
  .email-demo {
    display: flex;
    flex-direction: row;
  }
}
.phone {
  width: 200px;
}
@media screen and (min-width: 1024px) {
  .email-demo {
    display: flex;
    flex-direction: row;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
