@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.public-sans {
  font-family: "Public Sans", sans-serif;
}

.dm-serif-display {
  font-family: "DM Serif Display", serif;
}
body {
  padding: 10%;
}

.burger {
  border: none;
  background: none;
}
.burger-img {
  width: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: none;
}

.demo {
  display: none;
}
.icon {
  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-demo {
  width: 90%;
}
h1 {
  font-family: "DM Serif Display", serif;
  text-align: center;
}
footer {
  background-color: #1b262f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.linksfoot {
  color: #fbfcfe;
  opacity: 70%;
  text-decoration: none;
}
.linkulfoot {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.iconfoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  font-size: 14px;
}
.socialicon {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .burger {
    display: none;
  }
  .links {
    display: flex;
  }
  ul {
    display: flex;
    list-style: none;
    padding-right: 40px;
    gap: 40px;
  }

  .links {
    color: #36536b;
    opacity: 70%;
    text-decoration: none;
  }
  .demo {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .burger {
    display: none;
  }
  .links {
    display: flex;
  }
  .demo {
    display: flex;
    background-color: #ba4270;
    border: none;
    border-radius: 24px;
    color: white;
    padding: 10px;
  }
  .links {
    color: #36536b;
    opacity: 70%;
    text-decoration: none;
  }
  .links:hover {
    color: #36536b;
    opacity: 100%;
  }
  ul {
    display: flex;
    list-style: none;
    padding-right: 40px;
    gap: 150px;
  }
}
