@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.public-sans {
  font-family: "Public Sans", sans-serif;
}

.dm-serif-display {
  font-family: "DM Serif Display", serif;
}
.burger {
  border: none;
  background: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: none;
}
.demo {
  display: none;
}
@media screen and (min-width: 350px) {
  .burger {
    display: none;
  }
  .links {
    display: flex;
  }
  .demo {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
}
